body {
    background-color: #f2f2f2;
    font-family: 'Raleway', serif;
    color: #333;
    padding-top: 320px;
}

.BGwhite {
    position: fixed;
    top: 0;
    padding: 0;
    width: 100%;
    background-color: #FFF;
    margin-bottom: 250px;
    z-index: 9999;
}

.contents {
    width: 95%;
    margin: 0 auto;
}

header i.fa {
    margin: 15px 0;
    font-size: 250%;
}

.contentsBtn {
    background-color: #74cfae;
    float: right;
    margin: 15px 0;
}

.contentsBtn p {
    font-size: 12px;
    padding: 14px 12px;
    color: #fff;
}

.maintitle  {
    text-align: center;
    margin-bottom: 250px;
}

.title1 {
    margin-bottom: 20px;
    color: #74cfae;
    font-size: 90px;
    font-weight: 700;
}

.title2 {
    color: #c0c0c0;
    font-size: 30px;
}

.BGblue {
    background-color: #74cfae;
    margin-bottom: 60px;
}

.whatCanTxt p {
    color: #fff;
}

.ourWork__img {
    width: 300px;
    height: 300px;
    opacity: .7;
}

.ourWork__img:hover {
    opacity: 1;
}

.workstext {
    line-height: 1.5em;
}

.emailBtn {
    background-color: #74cfae;
    font-size: 12px;
    color: #fff;
    padding:14px;
}

.emailBtn:hover {
    color: #333;
}

.BGgray  {
    width: 100%;
    margin-bottom: 200px;
    background-color: #4e4e4e;
    padding-top: 70px;
}

.skills {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.skill_word {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.SNSicon {
    color: #74cfae;
    padding: 20px 0;
    text-align: center;
    font-size: 350%;
}

.SNSicon:hover {
    background-color: #fff;
}

.footerTxt {
    float: right;
    padding: 20px 0 25px 0;
    color: #fff; 
}

.BGblue_footer {
    background-color: #74cfae;
}

.footerBox {
    margin: 0 auto;
}



/*ここまで共通のCSS */


@media only screen and (min-width: 1200px) {


.contents {
    width: 1000px;
}

.whatCan {
    width: 1100px;
    height: 345px;
    margin: 0 auto;
}

.whatCan__img {
    float: left;
    margin: 50px 120px 0 70px;
}

.whatCanTxt {
    width: 700px;
    margin-top: 70px;
    float: right;
}

.whatCanTxt1 {
    font-size: 24px;
    margin-bottom: 35px;
    text-align: center;
}

.whatCanTxt2 {
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
}

.ourWork {
    width: 1100px;
    margin: 0 auto;
}

.ourWorkTitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
}

.works {
    height:680px;
    margin-bottom: 90px;
}

.ourWork li {
    float: left;
    margin: 0 100px 80px 0;
}

.ourWork li:nth-child(3n) {
    margin-right: 0;
}

.ourWork li:nth-child(n+4) {
    margin-bottom: 90px;
}

.worksTxt {
    margin-bottom: 70px;
}

.workstext {
    float:left;
    padding: 0 90px;
    width: 730px;
}

.emailBtn {
    float: left;
}

.BGgray ul {
    overflow: hidden;
    width: 1028px;
    margin: auto;
}

.BGgray li {
    margin-right: 180px;
    float: left;
    padding-bottom: 100px;
}

.BGgray li:last-child {
    margin-right: 0;
}

.SNS {
    width: 740px;
    margin: 0 auto;
    height: 95px;
    margin-bottom: 200px;
}

.SNSicon {
    float: left;
    width: 185px;
}

.footerBox {
    width: 1100px;
}

} /* 1200px以上の時に効くCSS */












@media only screen and (min-width: 767px) and (max-width: 1199px) {


.whatCan {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.whatCan__img {
    margin: 0 auto;
    padding: 50px 0 20px;
}

.whatCanTxt {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.whatCanTxt1 {
    font-size: 24px;
    margin-bottom: 35px;
    text-align: center;
}

.whatCanTxt2 {
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
}

.ourWork {
    width: 100%;
}

.ourWorkTitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
}

.works li {
    width: 100%;
    text-align: center;
}

.ourWork li:nth-child(3n) {
    margin-bottom: 80px;
}

.worksTxt {
    margin-bottom: 70px;
}

.workstext {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.emailBtn {
    width: 82px;
    margin: 0 auto; 
    text-align: center;
}

.BGgray li {
    text-align: center;
}

.BGgray li:last-child {
    padding-bottom: 12px;
}

.skill_word {
    padding-bottom: 88px;
}

.SNS {
    width: 740px;
    margin: 0 auto;
    height: 95px;
    margin-bottom: 200px;
}

.SNSicon {
    float: left;
    width: 185px;
    padding: 20px 0;
    color: #74cfae;
    text-align: center;
    font-size: 350%;
}

.footerBox {
    width: 100%;
}

.footerTxt {
    margin-right: 2%;
}


} /* タブレット CSS */

@media only screen and (max-width: 766px) {

body{
    padding-top: 160px;
}

.contentsBtn {
    display: none;
}

.maintitle  {
    margin-bottom: 130px;
}

.title1 {
    font-size: 80px;
}

.whatCan {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.whatCan__img {
    margin: 0 auto;
    padding: 50px 0 20px;
}

.whatCanTxt {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.whatCanTxt1 {
    font-size: 24px;
    margin-bottom: 35px;
    text-align: center;
}

.whatCanTxt2 {
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
}

.ourWork {
    width: 100%;
}

.ourWorkTitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
}

.ourWork li:nth-child(3n) {
    margin-bottom: 80px;
}

.ourWork__img {
    width: 100%;
    height: 100%;
}

.worksTxt {
    margin-bottom: 70px;
}

.workstext {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.emailBtn {
    width: 82px;
    margin: 0 auto; 
    text-align: center;
}

.BGgray{
    margin-bottom: 50px ;
}

.BGgray li {
    text-align: center;
}

.BGgray li:last-child {
    padding-bottom: 12px;
}

.skill_word {
    padding-bottom: 88px;
}

.SNS {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.SNSicon {
    text-align: center;
    margin: 0 15px;
}

.footerBox {
    width: 100%;
}

.footerTxt {
    margin-right: 2%;
}

} /* スマホ CSS */






.clearfix:after {
    display: block;
    content:"";
    clear: both;
}